@font-face {
  font-family: "RedHatDisplay";
  src: url("./src/assets/fonts/RedHatDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("./src/assets/fonts/RedHatDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.container {
  --padding-content: clamp(2rem, -0.8169rem + 12.0188vw, 10rem);
  --content-max-width: clamp(42.5rem, 11.0714rem + 65.4762vw, 70rem);
  width: 100%;
  max-width: calc(var(--content-max-width) + var(--padding-content) * 2);
  padding-inline: var(--padding-content);
  margin-inline: auto;
}

@media (max-width: 48rem) {
  .container {
    --content-max-width: clamp(19.4375rem, -2.5687rem + 93.8931vw, 42.5rem);
  }
}
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-600: hsl(192, 37%, 48%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-600: hsl(268, 34%, 53%);
  --slate-300: hsl(240, 18%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --white: hsl(0, 0%, 100%);
  --font-family-base: "RedHatDisplay";
  --font-size-xl: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  --font-size-l: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --font-size-m: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  --font-size-s: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --font-size-button: 1rem;
  --line-height-xl: 150%;
  --line-height-l: 110%;
  --letter-spacing: 0.25rem;
  --border-radius-picture: 0.5rem;
  --border-radius-button: 1.8125rem;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: var(--line-height-l);
  color: var(--slate-600);
}

.title,
.subtitle {
  line-height: var(--line-height-l);
  color: var(--slate-900);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

.header__logo {
  margin-inline: auto;
  padding-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
}

.cyan-button {
  background-color: var(--cyan-600);
}
@media (any-hover: hover) {
  .cyan-button:hover {
    background-color: #71c0d4;
  }
}
@media (any-hover: none) {
  .cyan-button:active {
    background-color: #71c0d4;
  }
}

.purple-button {
  background-color: var(--purple-600);
}
@media (any-hover: hover) {
  .purple-button:hover {
    background-color: #b18bdd;
  }
}
@media (any-hover: none) {
  .purple-button:active {
    background-color: #b18bdd;
  }
}

.hero {
  padding-block: 5.4375rem;
  text-align: center;
  background: url(./src/assets/images/desktop/image-hero-left.png) no-repeat left -1.625rem top 4rem, url(./src/assets/images/desktop/image-hero-right.png) no-repeat right -1.625rem top 4rem;
}
.hero > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 27.5rem;
  gap: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
}
.hero__desc {
  line-height: var(--line-height-xl);
}
.hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero__button {
  height: 3.5rem;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  font-size: var(--font-size-button);
  font-weight: 900;
  text-wrap: nowrap;
  line-height: var(--line-height-xl);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
}
.hero__button .button-version {
  color: var(--cyan-300);
}

.decoration {
  width: 3.5rem;
  height: 8.5rem;
  margin-inline: auto;
}
.decoration-line {
  margin-inline: auto;
  width: 1px;
  height: 5rem;
  background-color: var(--slate-300);
}
.decoration-step {
  height: 3.5rem;
  display: grid;
  place-content: center;
  font-size: var(--font-size-button);
  font-weight: 900;
  background-color: var(--white);
  border: 1px solid var(--slate-300);
  border-radius: 50%;
}

.preview > .container {
  --padding-block-preview: 3.5rem clamp(4rem, 3.4286rem + 1.1905vw, 4.5rem);
  display: flex;
  flex-direction: column;
  padding-block: var(--padding-block-preview);
  align-items: center;
  gap: 4rem;
}
.preview__img-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
}
.preview__img-item {
  height: auto;
  border-radius: var(--border-radius-picture);
}
.preview__info {
  display: flex;
  flex-direction: column;
  max-width: 33.75rem;
  gap: 2rem;
  text-align: center;
}
.preview__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.preview__info .preview__additional-text {
  font-size: var(--font-size-s);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--cyan-600);
}
.preview__text {
  line-height: var(--line-height-xl);
}

.footer__decoration {
  position: relative;
  top: 28px;
  z-index: 1;
}
.footer__info {
  --padding-block-info: clamp(4rem, -0.7857rem + 9.9702vw, 8.1875rem) clamp(2.25rem, -1.1786rem + 7.1429vw, 5.25rem);
  padding-block: var(--padding-block-info);
  background: url(./src/assets/images/desktop/image-footer.jpg) no-repeat 50%/cover;
}
.footer__info-wrapper {
  display: flex;
  gap: clamp(1.5rem, -3.9286rem + 11.3095vw, 6.25rem);
}
.footer__title {
  line-height: var(--line-height-l);
  color: var(--white);
}
.footer__text {
  max-width: 22.1875rem;
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  color: var(--white);
}

@media (max-width: 75.5rem) {
  .hero {
    padding-block: clamp(17rem, 2.8063rem + 60.5598vw, 31.875rem) 4rem;
    background-image: url(./src/assets/images/tablet/image-hero.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center top 64px;
  }
  .preview__img-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
  }
  .footer__info {
    background: url(./src/assets/images/tablet/image-footer.jpg) no-repeat 50%/cover;
  }
  .footer__info-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 29.6875rem) {
  .hero__buttons {
    flex-direction: column;
  }
}
